@use 'functions' as *;

$white: #ffffff;
$black: #212529;

$gray-50: #f0f4f8;
$gray-100: #f0f2f5;
$gray-200: #dddddd;
$gray-300: #cccccc;
$gray-400: #999999;
$gray-500: #727b7c;
$gray-800: #222222;
$gray-900: #212529;

$blue-100: #55b0ff;
$blue-200: #3B82F6;
$blue-300: #0081ff;
$blue-400: #0076e6;
$blue-500: #2e3b61;

$green: #10b981;
$red: #d9534f;

$shadow-sm: 0 px_to_rem(4px) px_to_rem(12px) rgba(0, 0, 0, 0.05);