@use './functions' as *;
@use './variables' as *;
@use './colors' as *;


@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  gap: px_to_rem(40px);
}


@mixin card-layout {
  background-color: $white;
  border-radius: 12px;
  border: 1px solid $gray-200;
  padding: px_to_rem(24px);
  width: 100%;
  max-width: px_to_rem(300px);
  font-family: $font-main;
  box-shadow: $shadow-sm;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-heading {
    margin-bottom: px_to_rem(24px);
    width: 100%;
    text-align: center;

    &-text {
      font-weight: 600;
      font-size: px_to_rem(18px);
      color: $gray-900;
      margin: 0;
    }
  }

  &-logo {
    background-color: rgba($blue-100, 0.15);
    border-radius: 12px;
    width: px_to_rem(64px);
    height: px_to_rem(64px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: px_to_rem(32px);

    &-img {
      width: px_to_rem(32px);
      height: px_to_rem(32px);
      object-fit: contain;
    }
  }

  &-available,
  &-used {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: px_to_rem(12px) 0;
  }

  &-available {
    border-top: 1px solid $gray-100;
    margin-top: px_to_rem(8px);

    &-text {
      color: $gray-800;
      font-size: px_to_rem(15px);
      font-weight: 500;
      margin: 0;
    }

    &-number {
      color: $green;
      font-weight: 700;
      font-size: px_to_rem(18px);
      margin: 0;
    }
  }


  &-used {
    padding-top: 0;

    &-text {
      color: $gray-800;
      font-size: px_to_rem(15px);
      font-weight: 500;
      margin: 0;
    }

    &-number {
      color: $gray-900;
      font-weight: 700;
      font-size: px_to_rem(18px);
      margin: 0;
      display: flex;
      align-items: center;
      gap: px_to_rem(4px);

    }
  }
}