@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/media-queries' as *;
@use '../abstracts/mixins' as *;


.cards {
    background-color: $gray-100;
    padding: px_to_rem(32px) 0 px_to_rem(40px);
    width: 100%;

    @include media_query('sm') {
        padding: px_to_rem(24px) 0 px_to_rem(32px);
    }

    &__wrapper {
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        gap: px_to_rem(24px);
        flex-wrap: wrap;
        justify-content: flex-start;

        @include media_query('lg') {
            justify-content: center;
        }

        @include media_query('sm') {
            gap: px_to_rem(16px);
            max-width: 92%;
        }

        &--myday,
        &--compOff,
        &--pto {
            @include card-layout;

            @include media_query('sm') {
                max-width: 100%;
                flex: 1 1 100%;
            }
        }
    }
}